
.dashAdmin{
    width: 250px; 
    height: 100vh; /* Must be 100% of the viewport height */
    /* position: absolute; */
    display: flex;
    flex-direction: column; /* Stack children vertically */
    
    background-color: #E9D0A7; /* Your beige sidebar color */
}
.listAdmin > p{
    font-family: 'afc';
    font-size: 20px;
    transition: all 200ms cubic-bezier(0.4, 0, 0.2, 1);
}
.listAdmin {
    display: flex; 
    align-items: center; 
    gap: 10px;
    margin-bottom: -20px;
    margin-left: 10px;
}
.listAdmin > img{
    width: 20px;
    height: 30px;
    margin-top: 0;
    margin-bottom: 0;
}
.listAdmin > p:hover{
    font-family: 'afc';
    font-weight: 800;
    font-size: 21px;
}
.dashAdmin > div{
    width: 100%;
    display: flex;
    gap: 20px;
}
.dashAdmin > div >  img{
    width: 50px;
}
.logodash > p{
    font-family: 'lpp';
    font-size: 20px;
}
.logodash{
    margin-left: 10px;
}
.dlogo {
    width: 40px;
    position: relative;
    align-self: center;
}
.circle{
    position: relative;
    display: flex;
    width: fit-content;
    margin: 0 auto;
    justify-content: center;
    padding: 20px;
    border-radius: 50% 50% 0 0;
    bottom: 40px;
}
.d1m > div{
    background-color: #E9D0A7;
}
.d2 > div{
    background-color: #84592E;
}
.dashMain{
    padding: 20px;
}
.dashMain > h1{
    color: aliceblue;
    font-family: 'brs';
}
.dashMain > div{
    margin: 8vh 0 0 5vw;
    display: flex;
    gap: 5vw;

}
.dashMain > div > div{
    padding-top: 10px;
    text-align: center;
    border-radius: 10px;
    z-index: 0;
}
.dashMain > div > div > h2{
    font-weight: 100;
}
.d1m{
    text-shadow: 0px 1px 2px rgb(0 0 0 / 0.30); 
    background-color: #E9D0A7;
    padding-left: 100px;
    justify-content: center;
    padding-right: 100px ;
    color: #733015;
    box-shadow: 0px 2px 5px rgb(0 0 0 / 0.80);
}
.d2{
    text-shadow: 0px 1.5px 5px rgb(0 0 0 / 0.80); 
    padding-left: 40px;
    padding-right: 40px;
    align-self: end;
    background-color: #84592E;
    color: white;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.8);
}
.dashMain > div > div > h2{
    font-family: 'afc';
    font-size: 16px;
    margin-top: -20px;
}
.dashMain > div > div > h1{
    font-family: 'afc';
    font-size: 32px;
    margin-top: -40px;
}
.space {
    flex-grow: 1; /*consumes all the empty vertical space */
}
.sign-out {
    font-size: 20px;
    color: red;
    display: flex;
    margin-top:5vh;
    flex-direction: column;
    line-height: 0.5;
    flex-shrink: 0; /*so it doesn't try to grow*/
    padding-bottom: 50px; /* Add space above the bottom edge */
    margin-left: 10px;
}

#sign-out{
    text-decoration: none;
    color: inherit;
    font-family: 'afc';
}
.sidebar {
    display: flex;
    flex-direction: column;
    gap: 10px; 
    margin-left: 10px;
}