body > div.cart {
    min-height: 50vh;
    background-color:#452B1E;
    margin: auto;
    margin-top: 12vh;
    padding-left: 4vh;
    display: flex;
    gap: 2vh;
    font-family: 'brsSemi'; 
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 50px;
}

body > div.cart > .cart-header > p#header{
    color: #E9D0A7;
    font-size: 16px; 
    padding-right: 60px;
}

body > div.cart > .cart-header > p#header1 {
    color: #E9D0A7;
    padding-right: 30vh;
    padding-left: 5vh;
}

body > div.cart > .cart-header {
    display: grid;
    grid-template-columns: 3fr 2fr 2fr 1fr 1fr;
    gap: 10vh;
    width: 85%;
} 

.delete {
    margin-left: 40%;
    margin-top: 10px;
    background-color: #9D9167;
    border-style: solid;
    border-radius: 10px;
    width: max-content;
    padding: 10px;
    font-family: 'afc';
    font-size: 16px;
}

.cart-item {
    width: 110vh;
    background-color: #E9D0A7;
    border-style:solid;
    border-color: black;
    border-radius: 20px;
    display: grid;
    grid-template-columns:10fr 3fr 3fr 1fr;
    gap: 13vh;
    margin-right: 30%;
    margin-bottom: 3vh;
    padding-left: 3vh;
    padding-bottom: 2vh;
    padding-right: 10vh;
    border-color: black;
    font-family: 'afc';
    font-size: 14px;
    align-items: center;

}

.add-button, .remove-button {
    width: 20px;
    height: 20px;
    text-align: center;
}

.item-image {
    width: 20vh;
    height: 20vh;
}

.item-name {
    padding-left: 17%;
    margin: 0;
}

.quantity-controls {
    display: flex;
    align-items: center;
    gap: 3vh;
}

.item-total {
    width: max-content;

}

.cart-details {
    display: grid;
    grid-template-columns: 20fr 10fr;
    gap: 15vh;
}

.total {
    width: 250px;
    text-align: center;
    color:#E9D0A7;
    font-size: 20px;
}


.button {
    cursor: pointer;
    background-color: #9D9167;
    border-style: solid;
    border-color: black;
    border-radius: 5px;
    width: 3vh;
    height: 3vh;
    padding-left: 10vh; 
    margin-top: 15vh;
}

#checkout-bttn {
    /* display:  */
    background-color: #9D9167;
    padding: 20px;
    border-style: solid;
    border-color: black;
    border-radius: 10px;  
    cursor: pointer;  
    font-family: 'afc';
    font-size: 16px;
    margin-left: 70px;
    margin-top: 50px;
}

#container {
    width: 115vh;
}

.empty {
    font-family: 'brsSemi';
    color:#E9D0A7;
    font-size: 24px;
text-align: center;
}
.checkout {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.5);
}

.checkout-content {
    background-color: #9D9167;
    margin: 10% auto;
    width: 500px;
    padding: 30px;
    border-radius: 10px;
}

#close {
    float: right;
    font-size: 32px;
    cursor: pointer;
}

h2 {
    all: unset;
    font-family: 'lpp';
    font-size: 24px;
    margin-left: 120px;
}

label {
    font-family: 'brsSemi';
    font-size: 16px;
}
#name {
    margin: 0;
}

input {
    padding: 10px;
    width: 90%;
}

#submit {
    background-color: #743014;
    color:#E9D0A7;
    font-family: 'afc';
    font-size: 16px;
    margin-left: 30%;
    border-style: solid;
    border-color:#452B1E;
    border-radius: 15px;
    padding: 10px;
    width: 200px;
    cursor: pointer;
}