
.entry{
    font-family: 'brs';
    font-family: 'brs';
    margin-top: 20px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    color: #452B1E;
    gap: 15vw;
    overflow-x: hidden;
    overflow-y: hidden;
    width: 98.67%;
}
.name {
    /* border: solid 1px #000; */
    align-items: center;
    height: 100vh;
    display: flex;
    z-index: 2;
    position: absolute;
    padding-left: 50px;
    width: 50vw;
}
.name >  div > h1{
    font-size: 64px;

}
.name >  div > p{
    font-size: 24px;

}

.home-img > img {
    z-index: 1;
    /* border: solid 1px #000; */
    height: 100vh;
    width: 100vh;
    scale:120% 120%;
    position: relative;
    left: 50vw;
}
#nBttn{
    width: 200px;
    font-size: 20px;
}
#nBttn:hover{
    font-size: 22px;
}
.about{
    display: flex;
    position: relative;
    justify-content: space-between;
    /* flex-direction: column; */
    color: #452B1E;
}
.about > div > h1{
    font-size: 40px;
}
.abt-text{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    position: absolute;
    place-self: center;
    z-index: 2;
}
.entry2{
    display: flex;
    gap: 8vw;
    padding: 5vw;
    color: #452B1E;
}
.image > img{
    object-fit: cover;
    border-radius: 20px;
}
.entry2  p{
    font-size: 20px;
    margin-top: -20px;
    margin-bottom: 30px;
}
.entry2  h1{
    font-size: 50px;
    line-height: 8vh;
    font-weight: 900;
}
#view-menu{
    font-size: 20px;
}
#view-menu:hover{
    font-size: 21px;
}
/* tablet */
@media  (max-width: 890px) {
  .home-img > img {
    width: 100%; 
    overflow-x: hidden;
    left: 40vw;
    position: relative;
    z-index: 0;
  }
}