@font-face {
  font-family: 'lpp';
  src: url('../css/fonts/LAVONEPERSONLUSE-1GQL0.OTF') format('truetype');
}
@font-face {
  font-family: 'brsBold';
  src: url('../css/fonts/BRSHAPE-BOLD-BF654C4E0759801.OTF') format('truetype');
}
@font-face {
  font-family: 'brsMItalic';
  src: url('../css/fonts/BRSHAPE-MEDIUMITALIC-BF654C4E07599B6.OTF') format('truetype');
}
@font-face {
  font-family: 'brs';
  src: url('../css/fonts/BRSHAPE-REGULAR-BF654C4E0770EFA.OTF') format('truetype');
}
@font-face {
  font-family: 'brsSemi';
  src: url('../css/fonts/BRSHAPE-SEMIBOLD-BF654C4E0768A21.OTF') format('truetype');
}
@font-face {
  font-family: 'afc';
  src: url('../css/fonts/AFACAD-REGULAR.TTF') format('truetype');
}

body{
    margin: 0;
    background-color: #E9D0A7;
}
#main-con{
    width: 100vw;
    height: 100vh;
    display: flex;
    overflow-y: hidden;
}
#content{
    width: 100%;
    background-color: #452B1E;
}
.footer{
    margin-top: 200px;
    height: 30px;
    position: relative;
    display: flex;
    justify-content: center;
    color: white;
    text-align: center;
}
.footer > img{
    object-fit: fill;
    width: 100%;
    height: fit-content;
    margin-top: 5vh;
}
.footer >  div {
    display: flex;
    flex-direction: row;
    margin-top: 30px;
    position: absolute;
    width: 80%;
    height:  35vh;
    justify-content: space-between;
    top: 0;
}
.footer > div > div {
    position: relative;
    top: 30px;
    width: 200px;
    z-index: 1;
    align-self: flex-end;
}
.footer > div > div > img{
    object-fit: fill;
    width:  150px;
    height: fit-content;
    align-self: center;
}
.footer > div > div > #p{
    font-family: 'lpp';
    color: aliceblue;
    font-size: 30px;
}
.logoFooter{
    width: 10%;
    margin-top: 10vh;
    margin-bottom: 5vh;
    height: fit-content;
    width: 200px;
    display: flex;
    flex-direction: column;
}
.logoFooter > img {
    margin-left: 2vw;
}
.logoFooter > p {
    font-family: 'lpp';
    font-size: 25px;
}
.details > p{
    font-family: 'afc';
}
.pages > div > p{
    font-family: 'afc';
}
.details > h4{
    font-family: 'brs';
    font-size: 20px;
}
.pages > h4{
    font-family: 'brs';
    font-size: 20px;
}

.h1bttn {
    border: none;
    background-color: #9D9169;
    padding: 10px;
    border-radius: 10px;
    font-family: 'afc';
    color: aliceblue;
    padding-right: 40px;
    padding-left: 40px;
    transition: all 200ms cubic-bezier(0.4, 0, 0.2, 1);
}
.h1bttn:hover{
    background-color: #908359;
}
#con{
    margin-top: 8vh;
}
#cart{
    width: 5vh;
    height: 5vh;
    margin-top: 2vh;
    transition: all 200ms cubic-bezier(0.4, 0, 0.2, 1);
}
#cart:hover{
    width: 5.5vh;
    height: 5.5vh;
}
#logo{
    width: 10vh;
    height: 10vh;
}
#name{
    margin-left: 1vh;
    margin-top: 3vh;
}
.dash {
    position: absolute;
    top: 0;
}
.dashboard{
    background-color: #E9D0A7;
    z-index: 0;
    top:0;
    z-index:10;
    position:fixed;
    font-size: 24px;
    padding: 3px;
    padding-top: 2vh;
    padding-left:4vh;
    padding-right:4vh;
    height: 6vh;
    width: 96vw;
    font-family: 'lpp';
    display:flex;
    align-items: center;
    justify-content: space-between;
    color: #452B1E;
}
.dashboard div{
    display:flex;
    width: max-content;
    justify-content: space-between;
}
#unset,
#unset:visited,
#unset:active ,
#unset:hover ,
#unset:focus{
    color: #452B1E;
    text-decoration: none; 
    all: unset;
}
.dashboard > a,
.dashboard >a:visited,
.dashboard > a:active ,
.dashboard > a:hover ,
.dashboard > a:focus{
    color: #452B1E;
    text-decoration: none; 
    all: unset;
}
#end-div {
    display:flex;
    justify-content: space-between;
    font-family: 'brs';
    gap: 20vh;
}
#end-div p{
    transition: all 200ms cubic-bezier(0.4, 0, 0.2, 1);
}
#end-div p:hover{
    font-family: 'brsBold';
    font-size: 25px;
}
#end-div a > img:hover{
    scale: 110%;
}
#end-div p:hover{
    font-family: 'brsBold';
    font-size: 25px;
}
#side-bar{
    color: #452B1E;
    background-color: #E9D0A7;
    padding: 2vh;
    z-index: 70; 
    top:0;
    position: fixed;
    width: 18vw;
    height: 100vh;
    font-size: 20px;
    display: none;
    box-shadow: 100px 5px 500px rgb(49, 19, 0);
    transition: all 300ms cubic-bezier(0.4, 0, 0.2, 1);
}
#side-bar  div{
    display: flex;
}
#side-bar  a{
    text-decoration: none;
    color: inherit;
}
#d1{
    margin-top: 20px;
    display: flex;
    width: 17vw;
    height: 50vh;
    flex-direction: column;
}
#side-bar div p {
    font-family: 'brs';
    margin-top:  11px;
    transition: all 200ms cubic-bezier(0.4, 0, 0.2, 1);
}
#d1  div  p:hover{
   font-size: 21px;
   font-family: brsBold;
}
#side-bar div img {
    width: 8vh;
    height: 8vh;
}
#d1 > div > img{
   width: 5vh;
   height: 5vh; 
}
#d1 > div {
   gap: 10px;
}
.overview{
    font-size: 16px;
    padding-top: 18px;
    margin-left: 1vw;
    transition: all 200ms cubic-bezier(0.4, 0, 0.2, 1);
}
.overview:hover{
    font-family: 'brsBold' !important;
    font-size: 17px;
}
/* tablet */
@media (max-width: 890px) {
    #end-div {
        display: flex;
        justify-content: center;
        gap: 10vw ;
        border: 2px solid limegreen; 
        margin-right: 3vw;
        height: 70px;
    }
    #end-div > img{
        width: 40px;
        width: 40px;
        align-self: center;
        margin-bottom: 20px;
    }
   .dashboard >  div > img{
        width: 10px;
        height: 10px;
   }
}
@media (max-width: 430px)  {
    .dashboard{
        width: 98%;
    }
    .dashboard > div {
        font-size: 40px;
    }
}